*{
    margin: 0;
    padding: 0;
}

.box{
    margin: 30px auto;
}
.phases{
    border: none;
    width: 100% !important;
}
.item{
    text-align: center;
    margin: 20px;
}


h3,h5{
    margin: 10px;
    padding: 5px;
}
.item ul li a{
    text-decoration: none;
    color: blue;
    font-size: large;
    font-weight: 500;
}
/* .item ul li a:visited{
    color: purple;
} */
.item ul li a:hover{
    color: red;
}
.item span{
font-size:13px;
}

@media screen and (max-width: 989px){
    .item h3{
        font-size: 18px;
    }
    .item h5{
        font-size: 15px;
    }
    .item ul li a{
        font-size: 13px;
    }
}
@media screen and (max-width: 769px){
    .item h5{
        font-size: 15px;
    }
    .item ul li a{
        font-size: 12px;
    }
}

@media screen and (max-width:572px){
    .item h3{
        font-size: 24px;
    }
    .item h5{
        font-size: 20px;
    }
    .item ul li a{
        font-size: 18px;
    }
}