@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.item1 { grid-area: header; width:30%;margin-left: auto;margin-right: auto;}
.item3 { grid-area: main; width:60%;margin-left: auto;margin-right: auto;}
.item4 { grid-area: right; width:60%;margin-left: auto;margin-right: auto;}
.item5 { grid-area: left; width:60%;margin-left: auto;margin-right: auto;}
.item6 { grid-area: kill; width:60%;margin-left: auto;margin-right: auto;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'main right'
    'left kill';
  grid-gap: 10px;
  width:100%;
  padding: 10px;
}
@media (max-width:800px) {
    .grid-container{
    display:block;
    }
    .item1,.item3,.item4,.item5,.item6 {
        width: 60%;
    }
}

@media(max-width:600px){
    .grid-container{
        display: block;
    }
    .item1,.item3,.item4,.item5,.item6{
        width:80%;
    }
}

@media(max-width:400px){
    .grid-container{
        display: block;
    }
    .item1,.item3,.item4,.item5,.item6{
        width:100%;
    }
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.about-each {
    padding-top: 50px;
    /* padding-bottom: 50px; */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.profile-card,
.profile-card .img-area,
.social-icons a,
.buttons button {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1
}

.profile-card {
    position: relative;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.profile-card .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px
}

.profile-card .icon i {
    position: relative;
    z-index: 9
}

.profile-card .icon.arrow {
    left: 15px
}

.profile-card .icon.dots {
    right: 15px
}

.profile-card .img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover
}

.profile-card .name {
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0
}

.profile-card .about {
    color: #44476a;
    font-weight: 400;
    font-size: 16px
}

.profile-card .social-icons {
    margin: 15px 0 25px 0
}

.social-icons a {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%
}

.social-icons a:hover::before,
.profile-card .icon:hover::before,
.buttons button:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1
}

.buttons button:hover:before {
    z-index: -1;
    border-radius: 5px
}

.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px
}

.social-icons a.fb i {
    color: #4267B2
}

.social-icons a.twitter i {
    color: #1DA1F2
}

.social-icons a.insta i {
    color: #E1306C
}

.social-icons a.yt i {
    color: #ff0000
}

.profile-card .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4
}

.buttons button:first-child {
    margin-right: 10px
}

.buttons button:last-child {
    margin-left: 10px
}

.profile-card .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between
}

.social-share .row {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative
}

.social-share .row::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px
}

.row:first-child::before {
    background: none
}

.social-share .row i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* .profile-card1,
.profile-card1 .img-area,
.social-icons a,
.buttons button {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1
}
.profile-card1 {
    position: relative;
    width: 30%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.profile-card1 .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px
}

.profile-card1 .icon i {
    position: relative;
    z-index: 9
}

.profile-card1 .icon.arrow {
    left: 15px
}

.profile-card1 .icon.dots {
    right: 15px
}

.profile-card1 .img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.profile-card1 .name {
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0
}

.profile-card1 .about {
    color: #44476a;
    font-weight: 400;
    font-size: 16px
}

.profile-card1 .social-icons {
    margin: 15px 0 25px 0
}
.social-icons a:hover::before,
.profile-card1 .icon:hover::before,
.buttons button:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1
}
.profile-card1 .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between
} */