.contact {
    width: 100%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.main-blocki {
    text-align: center;
    width:70%;
    margin-bottom:50px;
    border-radius: 25px!important;
    margin-left: auto;
    display: flex;
    background-color: white;
    flex-direction: row;
    margin-right: auto;
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    /* padding: 10px; */
}

.grid-item {
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
}

.sub-block {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.sub-block h4 {
    padding: 0%;
}

.sub-block input {
    border-radius: 7px;
    width: 80%;
    border: grey;
    background-color: #E8E8E8;
    padding: 13px;
    font-size: 15px;
}

.sub-block textarea {
    width: 80%;
    padding: 15px;
    outline: none;
    border-radius: 7px;
    font-size: 15px;
    border: grey;
    background-color: #E8E8E8;
}

.row {
    padding-top: 12px;
}

.sub-block input[type=submit] {
    color: white;
    background-color: #43f943;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    width: 150px;
    font-size: 17px;
    border: black;
    cursor: pointer;
}

.sub-block input[type=submit]:focus {
    color: white;
    background-color: #00e000;
}

/* @media (max-width:876px) {
    .grid-container {
        display: block;
    }
    .back-contact{
        height:100vh;
        background-position-y: 0px !important;
    }
    .contact{
        padding-top: 10px;
    }
    .back-contact h4{
        opacity: 0;
    }
} */
.imgh{
    height:100%;
}
.back-contact {
    background-position-y: 70px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media (max-width:500px){
    .grid-container{
        width:100%;
    }
}
@media (max-width:1200px){
    .main-blocki {
        width: 80%;
    }
}
@media (max-width:1000px){
    .main-blocki {
        width: 95%;
    }
}
@media (max-width:900px){
    .main-blocki{
        height: 450px;
    }
}
@media (max-width:768px){
    .main-blocki{
        width: 70%;
        flex-direction: column;
        height: 100%;
        text-align: center;
    }
    .sub-block{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .fakecontact{
        height: 25px;
    }
}
@media (max-width:578px){
    .main-blocki{
        width: 80%;
    }
}
@media (max-width:400px){
    .main-blocki{
        width: 90%;
    }
}