/* .placeinfo {
    background-color: white;
    margin-top: 1vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;
    width: 85vh;
    padding: 4vh;
}

#userI {
    background-image: linear-gradient(#8ceb34, white);
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    width: 45%;
    height:80%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:2%;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 1vh;
}

#pincode,
#date {
    background-color: white;
    border: 1px solid grey;
    padding: 1vh;
    border-radius: 2.5px;
    line-height: 1!important;
}

#appointmentbtn {
    text-align: center;
}

#submit1 {
    background-color: white;
    border: 2px solid black;
    padding: 1.5vh;
    width:50%;
    border-radius: 2.5px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    line-height: 1!important;
    margin-top: 2vh;
}

.reload {
    background-color: white;
    border: 2px solid black;
    padding: 1.5vh;
    border-radius: 2.5px;
    cursor: pointer;
    text-align: center;
}

#citystate {
    text-align: center;
    margin-top: 4vh;
    font-weight: 600;
    font-size: 2.8vh;
    padding: 2vh;
}


@media only screen and (max-width: 768px) and (min-width: 425px) {
    #userI {
        width: 60%;
    }

    #appointmentbtn {
        text-align: center;
    }

    #pincode,
    #date {
        background-color: white;
        border: 1px solid grey;
        padding: 5px;
        border-radius: 2.5px;
        width: 100%;
    }

    #submit1 {
        background-color: white;
        border: 2px solid black;
        padding: 5px;
        border-radius: 2.5px;
        line-height: 1!important;
        cursor: pointer;
        text-align: center;
        margin-top: 2vh;
    }
}

@media only screen and (max-width: 425px) {
    #userI {
        width: 80%;
    }

    #appointmentbtn {
        text-align: center;
    }
    #submit1{
        width: 100%!important;
        padding: 5px;
    }
    #pincode,
    #date {
        background-color: white;
        border: 1px solid grey;
        padding: 5px;
        border-radius: 2.5px;
        width: 100%;
    }

    .placeinfo {
        font-size: 2.5vh;
        max-width: 45vh;
    }

    #citystate {
        font-size: 2.4vh;
    }
}
*/
.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
  }
  
  @keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  } 

.cont-vaccine{
    margin-left: auto;
    margin-right: auto;
    width:70%;
    display: flex;
    background-color: white!important;
    border-radius: 25px;
    margin-bottom:50px;
    margin-top:50px;
}
.sub-vac{
    width:50%;
    border-radius: 25px;
    text-align: center;
}
.vac-img{
    height:410px;
    width:100%;
    border-radius: var(--border-radius-primary);
}
.row {
    padding-top: 12px;
}

.row input[type=submit] {
    color: white;
    background-color: #43f943;
    padding: 8px;
    border-radius: 5px;
    width: 150px;
    font-size: 20px;
    border: black;
    cursor: pointer;
}

.row input[type=submit]:focus {
    color: white;
    background-color: #00e000;
}
/* .sub-vac input[type=text]{
    border-radius: 25px;
    padding:10px;
    width:50%;
    line-height: 1;
}
.sub-vac input[type=date]{
    border-radius: 25px;
    line-height: 1;
    width:50%;
    padding:10px;
}*/
/* .vac-form{
    margin-left: auto;
    margin-right: auto;
}  */
.vac-form input {
    border-radius: 7px;
    width: 70%;
    line-height: 1;
    border: grey;
    background-color: #E8E8E8;
    padding: 13px;
    font-size: 15px;
}
.centered-element {
    padding-top: 15%;
    /* margin: auto; */
  }
  @media(max-width:1100px){
    .centered-element {
        padding-top: 20%;
      }
      .cont-vaccine{
          width: 75%;
      }
  }
  @media(max-width:1000px){
      .cont-vaccine{
          width: 80%;
      }
  }
  @media(max-width:900px){
      .cont-vaccine{
          width: 85%;
      }
  }
  @media(max-width:800px){
    .centered-element {
        padding-top: 20%;
      }
      .cont-vaccine{
          width: 95%;
      }
  }
  @media(max-width:768px){
    .cont-vaccine{
        flex-direction: column;
        width: 60%;
    }
    .sub-vac{
        width: 100%;
    }
    .centered-element{
        margin-top: -17%;
        margin-bottom: 5%;
    }
  }
  @media(max-width:700px){
    .cont-vaccine{
        width: 70%;
    }
    .row {
        padding-bottom: 12px;
    }
  }
  @media(max-width:550px){
    .cont-vaccine{
        width: 80%;
    }
  }
  @media(max-width:470px){
    .cont-vaccine{
        width: 90%;
    }
    .vac-img{
        height: 70%;
    }
  }
  @media(max-width:400px){
    .cont-vaccine{
        width: 95%;
    }
  }
