<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="300"> -->
    <title>Covid</title>
    <link rel="icon" type="image/x-icon" href="static/images/icon.jpg">
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/sign.css" />
    <link rel="stylesheet" href="static/css/about.css" />
    <link rel="stylesheet" href="static/css/general.css" />
    <link rel="stylesheet" href="static/css/loading.css" />
    <link rel="stylesheet" href="static/css/risky_modal.css" />
    <!-- <link rel="stylesheet" href="static/css/riskpredictor.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="static/css/style.scss" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
        integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- <body onload="present()"> -->


<body>
    <div id="loader" style="display: none;">
        <!-- <div class="loader-book">
            <div>
              <ul>
                <li>
                  <svg viewBox="0 0 90 120" fill="currentColor">
                    <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                  </svg>
                </li>
                <li>
                  <svg viewBox="0 0 90 120" fill="currentColor">
                    <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                  </svg>
                </li>
                <li>
                  <svg viewBox="0 0 90 120" fill="currentColor">
                    <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                  </svg>
                </li>
                <li>
                  <svg viewBox="0 0 90 120" fill="currentColor">
                    <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                  </svg>
                </li>
                <li>
                  <svg viewBox="0 0 90 120" fill="currentColor">
                    <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                  </svg>
                </li>
                <li>
                  <svg viewBox="0 0 90 120" fill="currentColor">
                    <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                  </svg>
                </li>
              </ul>
            </div><span style="font-size: 20px;">Loading...</span>
            </div> -->
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
    </div>
    <div style="display:block;" id="myDivload" class="animate-bottom">

        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggler " data-toggle="open-navbar1">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- <a href="/ ">
                    <h4 style="font-size: 25px;">Infy<span style="font-size: 25px;"> SOARS</span></h4>  -->
                    <!-- <span class="logo-text " style="color:red; "> Presents</span> -->
                    <!-- </a> -->
                    <div class="container-alert">
                        <details>
                            <summary>
                                <div class="button-modal">
                                    <!-- <img src="static/images/infinity.gif" width="30" height="30"> -->
                                    <h4 style="font-size: 25px;">
                                        <bold> Infy<span style="font-size: 25px;color:#66f;"> SOARS<sup
                                                    style="color:crimson;font-size: 10px;"><strong>TM</strong></sup></span></span>
                                        </bold>
                                    </h4>
                                </div>
                                <div class="details-modal-overlay"></div>
                            </summary>
                            <div class="details-modal" style="display:flex;">
                                <div class="details-modal-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z"
                                            fill="black" />
                                    </svg>
                                </div>
                                <div class="details-modal-title" style="font-family: 'Montserrat', sans-serif;">
                                    <img src="static/images/welcome.gif" width="50" height="50">
                                    <h1 style="padding-left: 60px;margin-top:-8%;"> Infy <span
                                            style="color:blue;font-size: 20px;"> SOARS<sup
                                                style="color:red;font-size: 10px;">TM</sup></span><span
                                            style="color:crimson;font-size: 15px;"> presents</span></h1>
                                </div>
                                <div class="details-modal-content" style="font-family: 'Montserrat', sans-serif;">
                                    <p style="text-align: center;margin-top: -8%;"><img src="static/images/risklogo.png"
                                            width="300" height="300"></p>
                                    <h1 style="text-align: center;margin-top: -8%;">Project Covid</h1>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>

                <!-- <div class="navbar-menu " id="open-navbar1 ">
                <ul class="navbar-nav ">
                    <li class="active "><a href="/ ">Home</a></li>
                    <li><a href="# ">Stats</a></li>
                    <li><a href="# ">Analysis</a></li>
                    <li><a href="# ">Risk Predictor</a></li>
                    <li><a href="# ">Research</a></li>
                    <li><a href="# ">About</a></li>
                    <li><a href="# ">Contact</a></li>
                    <li><a href="# ">Sign In</a></li>
                </ul>
            </div> -->
                <div class="navbar-menu" id="open-navbar1">
                    <ul class="navbar-nav">
                        <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="navbar-dropdown">
                            <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id"><i
                                    class="fa fa-bar-chart"></i>
                                Analysis <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown" id="my-dropdown-id">
                                <li><a href="#" onclick="myFunction()">Something else here</a></li>
                                <li class="separator"></li>
                                <li><a href="#" onclick="myFunction()">Seprated link</a></li>
                                <li class="separator"></li>
                                <li><a href="#" onclick="myFunction()">One more seprated link.</a></li>
                            </ul>
                        </li>
                        <li class="navbar-dropdown">
                            <a href="#" class="dropdown-toggler" data-dropdown="blog"><i class="fa fa-flask"></i>
                                Predictors <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown" id="blog">
                                <!-- <li><a href="riskpredictor" id="risk-myBtn" target="_blank">Risk Predictor</a></li> -->
                                <li><span style="padding: 0.5rem 1rem; font-size: 14px;cursor: pointer;"
                                        id="risk-myBtn">Risk Predictor</span><a href="riskpredictor" target="_blank"
                                        style="display: inline-block;margin:5px 0;"><i
                                            class="fas fa-external-link-alt"></i></a></li>
                                <li class="separator"></li>
                                <li><a href="#" onclick="myFunction()">Seprated link</a></li>
                                <li class="separator"></li>
                                <li><a href="#" onclick="myFunction()">One more seprated link.</a></li>
                            </ul>
                        </li>
                        <li><a href="#" onclick="myFunction()"><i class="fa fa-pencil-square-o"></i> Research</a></li>
                        <li><a href="about" onclick="myFunction()"><i class="fa fa-info-circle"></i> About</a></li>
                        <li><a href="contact" onclick="myFunction()"><i style="font-size:13px;"
                                    class="material-icons">&#xe163;</i> Contact</a></li>
                        <li><a href="#" id="myBtn"><i class="fas fa-sign-in-alt"></i> Sign In / Sign Up</a></li>
                        <!-- <input type="checkbox" onclick="dark_day()" name="checkbox" class="switch"> -->
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="about" style="color: black;"><i class="fa fa-info-circle"></i> About</a></li>
        </ul>
        <div class="alert-up" style="text-align: center;">
            <span class="closebtn-up" onclick="this.parentElement.style.display='none';">&times;</span>
            Click on The Icon &#160<strong><i class="fas fa-external-link-alt"></i></strong> &#160To Get UI in New
            Window.
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <a>
                    <button type="button" class="btn-close">
                        <span class="icon-cross"></span>
                        <span class="visually-hidden"></span>
                    </button>
                </a>
                <br><br><br><br><br>
                <div class="modal-container" id="modal-container">
                    <div id="sign-up" class="form-container sign-up-container">
                        <form class="sign-form" action="#"
                            style="background-image: url('static/images/blueback.jpg');background-size: cover;">
                            <h1>Create Account</h1>
                            <br>
                            <div class="social-container">
                                <a href="#" class="social"><i class="fa fa-facebook social-ico"></i></a>
                                <a href="#" class="social"><i class="fa fa-google social-ico"></i></a>
                                <a href="#" class="social"><i class="fa fa-linkedin social-ico"></i></a>
                            </div>
                            <span>or use your email for registration</span>
                            <br>
                            <input class="sign-input" type="text" placeholder="Name" />
                            <input class="sign-input" type="email" placeholder="Email" />
                            <input class="sign-input" type="password" placeholder="Password" />
                            <br>
                            <button class="modal-button">Sign Up</button>
                            <p class="link" onclick="switchForm('login')">already have an account ? sign in here</p>
                        </form>
                    </div>
                    <div id="sign-in" class="form-container sign-in-container">
                        <form class="sign-form" action="#"
                            style="background-image: url('static/images/blueback.jpg');background-size: cover;">
                            <br>
                            <h1>Sign in</h1>
                            <br>
                            <div class="social-container">
                                <a href="#" class="social"><i class="fa fa-facebook social-ico"></i></a>
                                <a href="#" class="social"><i class="fa fa-google social-ico"></i></a>
                                <a href="#" class="social"><i class="fa fa-linkedin social-ico"></i></a>
                            </div>
                            <span>or use your account</span>
                            <br>
                            <input class="sign-input" type="email" placeholder="Email" />
                            <input class="sign-input" type="password" placeholder="Password" />
                            <a href="#">Forgot your password?</a>
                            <br>
                            <button class="modal-button">Sign In</button>
                            <p class="link" onclick="switchForm('register')">new here ? sign up here</p>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <!-- remove comments and remove style background-image to get original shade back -->
                            <div class="overlay-panel overlay-left"
                                style="background-image: url('static/images/modalback1.jpg');">
                                <!-- <h1><img src="static/images/hello.gif" width="30px " height="30px "> Welcome Back!</h1>
                            <p>To keep connected with us please login with your personal info</p> -->
                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                <button class="ghost modal-button" id="signIn">Sign In</button>
                            </div>
                            <div class="overlay-panel overlay-right"
                                style="background-image: url('static/images/modalback2.jpg');background-size: auto;">
                                <!-- <h1><img src="static/images/hello.gif" width="30px " height="30px "> Hello, Friend!</h1>
                            <p>Enter your personal details and start journey with us</p> -->
                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                <button class="ghost modal-button" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mini-info ">
            <marquee id="mymarquee"><strong><img src="static/images/hello.gif " width="30px" height="30px"> Team
                    Infy SOARS presents Covid-19 Details and Research</strong></marquee>
        </div>
        <!-- <div class="menu-container" style="margin-left:100%;">
        <div class="collapse-icon">
            <span class="fa fa-chevron-left"></span>
        </div>
        <div class="menu-item">
            <span class="fa fa-instagram social-ico"></span>
            <div class="menu-item-text">Instagram</div>
        </div>
        <div class="menu-item">
            <span class="fa fa-twitter social-ico"></span>
            <div class="menu-item-text">Twitter</div>
        </div>
        <div class="menu-item">
            <span style="padding:5px;" class="fa fa-facebook social-ico"></span>
            <div class="menu-item-text">Facebook</div>
        </div>
        <div class="menu-item">
            <span class="fa fa-linkedin social-ico"></span>
            <div class="menu-item-text">Linked In</div>
        </div>
    </div> -->



        <div class="about-each">
            <div class="grid-container">
                <div class="item1">

                    <div class="profile-card">

                        <div class="img-area">

                            <div class="inner-area">

                                <img src="https://4.bp.blogspot.com/-mNmJb1IPofs/X55dHjjl9fI/AAAAAAAABmw/yreuJ8F1BAkQVkYcsHKC0wlM_z3P-TpZwCK4BGAYYCw/s113/FB_IMG_1604213976970.jpg"
                                    alt="" />

                            </div>

                        </div>

                        <div class="name">Infokudia</div>

                        <div class="about">infokudia.blogspot.com</div>

                        <div class="social-icons">

                            <a href="#" class="fb" style="font-size: 20px;"><i class="fab fa-github"></i></a>

                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>

                            <a href="#" class="insta"><i class="fab fa-instagram"></i></a>

                            <a href="#" class="yt"><i class="fab fa-youtube"></i></a>

                        </div>

                        <div class="buttons">

                            <button>Message</button>

                            <button>Subscribe</button>

                        </div>

                        <div class="social-share">

                            <div class="row">

                                <i class="far fa-heart"></i>

                                <i class="icon-2 fas fa-heart"></i>

                                <span>20.4k</span>

                            </div>

                            <div class="row">

                                <i class="far fa-comment"></i>

                                <i class="icon-2 fas fa-comment"></i>

                                <span>14.3k</span>

                            </div>

                            <div class="row">

                                <i class="fas fa-share"></i>

                                <span>12.8k</span>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="item3">
                    <div class="profile-card">

                        <div class="img-area">

                            <div class="inner-area">

                                <img src="https://4.bp.blogspot.com/-mNmJb1IPofs/X55dHjjl9fI/AAAAAAAABmw/yreuJ8F1BAkQVkYcsHKC0wlM_z3P-TpZwCK4BGAYYCw/s113/FB_IMG_1604213976970.jpg"
                                    alt="" />

                            </div>

                        </div>

                        <div class="name">Infokudia</div>

                        <div class="about">infokudia.blogspot.com</div>

                        <div class="social-icons">

                            <a href="#" class="fb"style="font-size: 20px;"><i class="fab fa-github"></i></a>

                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>

                            <a href="#" class="insta"><i class="fab fa-instagram"></i></a>

                            <a href="#" class="yt"><i class="fab fa-youtube"></i></a>

                        </div>

                        <div class="buttons">

                            <button>Message</button>

                            <button>Subscribe</button>

                        </div>

                        <div class="social-share">

                            <div class="row">

                                <i class="far fa-heart"></i>

                                <i class="icon-2 fas fa-heart"></i>

                                <span>20.4k</span>

                            </div>

                            <div class="row">

                                <i class="far fa-comment"></i>

                                <i class="icon-2 fas fa-comment"></i>

                                <span>14.3k</span>

                            </div>

                            <div class="row">

                                <i class="fas fa-share"></i>

                                <span>12.8k</span>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="item4">
                    <div class="profile-card">

                        <div class="img-area">

                            <div class="inner-area">

                                <img src="https://4.bp.blogspot.com/-mNmJb1IPofs/X55dHjjl9fI/AAAAAAAABmw/yreuJ8F1BAkQVkYcsHKC0wlM_z3P-TpZwCK4BGAYYCw/s113/FB_IMG_1604213976970.jpg"
                                    alt="" />

                            </div>

                        </div>

                        <div class="name">Infokudia</div>

                        <div class="about">infokudia.blogspot.com</div>

                        <div class="social-icons">

                            <a href="#" class="fb" style="font-size: 20px;"><i class="fab fa-github"></i></a>

                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>

                            <a href="#" class="insta"><i class="fab fa-instagram"></i></a>

                            <a href="#" class="yt"><i class="fab fa-youtube"></i></a>

                        </div>

                        <div class="buttons">

                            <button>Message</button>

                            <button>Subscribe</button>

                        </div>

                        <div class="social-share">

                            <div class="row">

                                <i class="far fa-heart"></i>

                                <i class="icon-2 fas fa-heart"></i>

                                <span>20.4k</span>

                            </div>

                            <div class="row">

                                <i class="far fa-comment"></i>

                                <i class="icon-2 fas fa-comment"></i>

                                <span>14.3k</span>

                            </div>

                            <div class="row">

                                <i class="fas fa-share"></i>

                                <span>12.8k</span>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="item5">
                    <div class="profile-card">

                        <div class="img-area">

                            <div class="inner-area">

                                <img src="https://4.bp.blogspot.com/-mNmJb1IPofs/X55dHjjl9fI/AAAAAAAABmw/yreuJ8F1BAkQVkYcsHKC0wlM_z3P-TpZwCK4BGAYYCw/s113/FB_IMG_1604213976970.jpg"
                                    alt="" />

                            </div>

                        </div>

                        <div class="name">Infokudia</div>

                        <div class="about">infokudia.blogspot.com</div>

                        <div class="social-icons">

                            <a href="#" class="fb" style="font-size: 20px;"><i class="fab fa-github"></i></a>

                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>

                            <a href="#" class="insta"><i class="fab fa-instagram"></i></a>

                            <a href="#" class="yt"><i class="fab fa-youtube"></i></a>

                        </div>

                        <div class="buttons">

                            <button>Message</button>

                            <button>Subscribe</button>

                        </div>

                        <div class="social-share">

                            <div class="row">

                                <i class="far fa-heart"></i>

                                <i class="icon-2 fas fa-heart"></i>

                                <span>20.4k</span>

                            </div>

                            <div class="row">

                                <i class="far fa-comment"></i>

                                <i class="icon-2 fas fa-comment"></i>

                                <span>14.3k</span>

                            </div>

                            <div class="row">

                                <i class="fas fa-share"></i>

                                <span>12.8k</span>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="item6">
                    <div class="profile-card">

                        <div class="img-area">

                            <div class="inner-area">

                                <img src="https://4.bp.blogspot.com/-mNmJb1IPofs/X55dHjjl9fI/AAAAAAAABmw/yreuJ8F1BAkQVkYcsHKC0wlM_z3P-TpZwCK4BGAYYCw/s113/FB_IMG_1604213976970.jpg"
                                    alt="" />

                            </div>

                        </div>

                        <div class="name">Infokudia</div>

                        <div class="about">infokudia.blogspot.com</div>

                        <div class="social-icons">

                            <a href="#" class="fb" style="font-size: 20px;"><i class="fab fa-github"></i></a>

                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>

                            <a href="#" class="insta"><i class="fab fa-instagram"></i></a>

                            <a href="#" class="yt"><i class="fab fa-youtube"></i></a>

                        </div>

                        <div class="buttons">

                            <button>Message</button>

                            <button>Subscribe</button>

                        </div>

                        <div class="social-share">

                            <div class="row">

                                <i class="far fa-heart"></i>

                                <i class="icon-2 fas fa-heart"></i>

                                <span>20.4k</span>

                            </div>

                            <div class="row">

                                <i class="far fa-comment"></i>

                                <i class="icon-2 fas fa-comment"></i>

                                <span>14.3k</span>

                            </div>

                            <div class="row">

                                <i class="fas fa-share"></i>

                                <span>12.8k</span>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>














        <div class="social-foot">
            <ul>
                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <footer>
            <div class="footer">
                <h4 style="font-size: 25px;color:white;"><span style="font-size: 25px;color:#66f;">⚡ </span><span
                        style="font-size: 25px;color:grey;">Team</span>
                    <bold> Infy<span style="font-size: 25px;color:#66f;"> SOARS ⚡</span></span></bold>
                </h4>
                <!-- <sup
    style="color:crimson;font-size: 10px;"><strong></strong></sup>  -->
                <div class="row">
                    <ul>
                        <li><a href="#">Siddharth Kulkarni</a></li>
                        <li><a href="#">Atharv Chaudhari</a></li>
                        <li><a href="#">Rutuja Vaidya</a></li>
                        <li><a href="#">Omkar Patil</a></li>
                        <li><a href="#"><br>Sana Shaikh</a></li>
                    </ul>
                </div>
                <div class="sub-footer">
                    ✨ Copyright © 2021 - All rights reserved ✨
                </div>
                <p style="color:white;">🧿 Designed By 😎 Team Infy SOARS 🧿</p>
            </div>
        </footer>
        <!-- ##################################################################################################### -->
        <!-- Risk Predictor Modal -->
        <div id="risk-myModal" class="modal-risk" style="font-family: Arial, Helvetica, sans-serif;">
            <div class="modal-risk-content">
                <span class="close-risk">&times;</span>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        </br>
                        <img style="height:100%;width:100%;" src="static/images/old_logo.png">
                        </br>
                        <h3 style="color:blue;">Enter Your Details </h3>
                        <br>
                        <h4 style="color:#7ed321;">Full Name </h4>
                        <br>
                        <div class="input-group input-group-icon">
                            <input class="lost" type="text" name="name" placeholder="Full Name" />
                            <div class="input-icon"><i class="material-icons">person</i></div>
                        </div>
                        <br>
                        <h4 style="color:#7ed321;">Email <span class="required">*</span></h4>
                        <br>
                        <div class="input-group input-group-icon">
                            <input class="lost" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                name="email" placeholder="Email Address" required />
                            <div class="input-icon"><i class="fa fa-envelope"></i></div>
                        </div>
                        <br>
                        <h4 style="color:#7ed321;">Country </h4>
                        <br>
                        <div class="input-group input-group-icon">
                            <input class="lost" type="text" name="country" placeholder="Country" />
                            <div class="input-icon"><i class="fa fa-globe"></i></div>
                        </div>
                    </div>
                    </br>
                    <h3 style="color:#7ed321;">Gender<span class="required"> *</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="Gender" value="1" id="Gender-male" required />
                        <label class="lost" for="Gender-male">Male</label>
                        <input class="lost" type="radio" name="Gender" value="0" id="Gender-female" required />
                        <label class="lost" for="Gender-female">Female</label>
                    </div>
                    </br>
                    <h3 style="color:#7ed321;">Age 60 or Above<span class="required"> *</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="age" value="1" id="age-yes" />
                        <label class="lost" for="age-yes">Yes</label>
                        <input class="lost" type="radio" name="age" value="0" id="age-no" checked="true" />
                        <label class="lost" for="age-no">No</label>
                    </div>
                    </br>
                    <h3 style="color:#399cbd;">Symptoms </h3>
                    <br>
                    <h3 style="color:black;">1) Cough <span class="required">*</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="Cough" value="1" id="Cough-yes" />
                        <label class="lost" for="Cough-yes">Yes</label>
                        <input class="lost" type="radio" name="Cough" value="0" id="Cough-no" checked="true" />
                        <label class="lost" for="Cough-no">No</label>
                    </div>
                    <h3 style="color:black;">2) Fever <span class="required">*</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="Fever" value="1" id="Fever-yes" />
                        <label class="lost" for="Fever-yes">Yes</label>
                        <input class="lost" type="radio" name="Fever" value="0" id="Fever-no" checked="true" />
                        <label class="lost" for="Fever-no">No</label>
                    </div>
                    <h3 style="color:black;">3) Sore Throat <span class="required">*</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="Sore_Throat" value="1" id="Sore_Throat-yes" />
                        <label class="lost" for="Sore_Throat-yes">Yes</label>
                        <input class="lost" type="radio" name="Sore_Throat" value="0" id="Sore_Throat-no"
                            checked="true" />
                        <label class="lost" for="Sore_Throat-no">No</label>
                    </div>
                    <h3 style="color:black;">4) Shortness of Breath <span class="required">*</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="Shortness_of_Breath" value="1"
                            id="Shortness_of_Breath-yes" />
                        <label class="lost" for="Shortness_of_Breath-yes">Yes</label>
                        <input class="lost" type="radio" name="Shortness_of_Breath" value="0"
                            id="Shortness_of_Breath-no" checked="true" />
                        <label class="lost" for="Shortness_of_Breath-no">No</label>
                    </div>
                    <h3 style="color:black;">5) Headache <span class="required">*</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="Headache" value="1" id="Headache-yes" />
                        <label class="lost" for="Headache-yes">Yes</label>
                        <input class="lost" type="radio" name="Headache" value="0" id="Headache-no" checked="true" />
                        <label class="lost" for="Headache-no">No</label>
                    </div>
                    </br>
                    <h3 style="color:#7ed321;">Abroad<span class="required"> *</span></h3>
                    <div class="input-group others">
                        <input class="lost" type="radio" name="Abroad" value="1" id="Abroad-yes" />
                        <label class="lost" for="Abroad-yes">Yes</label>
                        <input class="lost" type="radio" name="Abroad" value="0" id="Abroad-no" checked="true" />
                        <label class="lost" for="Abroad-no">No</label>
                    </div>
                    </br>
                    <h4 style="color:#7ed321;">Contact With Covid-19 Object <span class="required">*</span></h3>
                        <div class="input-group others">
                            <input class="lost" type="radio" name="contact_Object" value="1" id="contact_Object-Yes" />
                            <label class="lost" for="contact_Object-Yes">Yes</label>
                            <input class="lost" type="radio" name="contact_Object" value="0" id="contact_Object-no"
                                checked="true" />
                            <label class="lost" for="contact_Object-no">No</label>
                        </div>
                        </br>
                        <h4 style="color:#7ed321;">Contact With Covid-19 Patient <span class="required">*</span></h3>
                            <div class="input-group others">
                                <input class="lost" type="radio" name="contact_Patient" value="1"
                                    id="contact_Patient-Yes" />
                                <label class="lost" for="contact_Patient-Yes">Yes</label>
                                <input class="lost" type="radio" name="contact_Patient" value="0"
                                    id="contact_Patient-no" checked="true" />
                                <label class="lost" for="contact_Patient-no">No</label>
                            </div>
                            </br>
                            <div class="submits">
                                <input class="lost" type="submit" value="Submit"
                                    style="background-color: #7ed321; color: white;">
                            </div>
                            </br>
            </div>
            </form>
        </div>
    </div>
    </div>
    <!-- ##################################################################################################### -->
    <script type="text/javascript" src="static/js/script.js "></script>
    <script type="text/javascript" src="static/js/sign.js "></script>
    <script type="text/javascript" src="static/js/general.js "></script>
    <!-- <script type="text/javascript">
    function get_alert(){
    alert("Team Infy SOARS Presents \nProject Covid");
    } -->
    <!-- function get_alert() {
        document.getElementById("getalert").innerHTML = "Click on The icon <iclass='fas fa-external-link-alt'></i> To Get Risk Predictor or new tab";
      } -->
    <!-- </script> -->
    <!-- <script type="text/javascript">
        function get_alert(){
        alert("Please Click On Icon Of New Tab To Get Risk Predictor UI in new tab");
        }
    </script> -->
</body>

</html>