<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Predictor Email</title>
    <style>
        .container {
            width: 90%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .block-it {
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: row;
        }

        .col-1 {
            width: 50%;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://raw.githubusercontent.com/Atharv-Chaudhari/Project-Covid-Cache/main/risklogo.png" width="40%"
            height="40%"></img>
        <br>
        <h2 style="color:red;text-align: center;">Detailed Report</h2>
        <br>
        <img src="https://raw.githubusercontent.com/Atharv-Chaudhari/Project-Covid-Cache/main/img_mail.jpg" width="70%"
            height="55%"></img>
        <br><br><br><br>
        <div class="block-it">
            <div class="col-1">
                <img src="{{ img }}"
                    width="75%" height="70%"></img>
                    <h3 style="text-align: center;">Your X-Ray Image</h3>
            </div>
            <div class="col-1">
                <img src="{{ cam_img }}"
                    width="75%" height="70%"></img>
                    <h3 style="text-align: center;">Analysis of Your X-Ray Image</h3>
            </div>
        </div>
        {% if output in tk %}
        <h2
            style="padding-top:10px;padding-bottom:5px;background-color: #F0F0F0;text-align: center;width:60%;margin-left: auto;margin-right: auto;">
            Corona Result: <span style="color:red;font-size:23px;"> Positive
            </span></h2>
        {% else %}
        <h2
            style="padding-top:10px;padding-bottom:5px;background-color: #F0F0F0;text-align: center;width:60%;margin-left: auto;margin-right: auto;">
            Corona Result: <span style="color:blue;font-size:23px;"> Negative
            </span></h2>
        {% endif %}
    </div>
</body>

</html>