<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="300">
    <title>Covid</title>
    <link rel="icon" type="image/x-icon" href="static/images/icon.jpg">
    <link rel="stylesheet" href="static/css/riskpredictor.css" />
    <!-- <link rel="stylesheet" href="static/css/sign.css" /> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="static/css/style.scss" /> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
        integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css "> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        .risk-prediction {
            /* background: url("static/images/risk_back.jpg") no-repeat center center fixed; */
            background-color: whitesmoke;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            /* background: #ecf0f3; */
            /* background-color: white; */
        }
    </style>
</head>

<!-- <body onload="present()"> -->

<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler " data-toggle="open-navbar1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- <a href="/ ">
                    <h4 style="font-size: 25px;">Infy<span style="font-size: 25px;"> SOARS</span></h4>  -->
                <!-- <span class="logo-text " style="color:red; "> Presents</span> -->
                <!-- </a> -->
                <div class="container-alert">
                    <details>
                        <summary>
                            <div class="button-modal">
                                <!-- <img src="static/images/infinity.gif" width="30" height="30"> -->
                                <h4 style="font-size: 25px;">
                                    <bold> Infy<span style="font-size: 25px;color:#66f;"> SOARS<sup
                                                style="color:crimson;font-size: 10px;"><strong>TM</strong></sup></span></span>
                                    </bold>
                                </h4>
                            </div>
                            <div class="details-modal-overlay"></div>
                        </summary>
                        <div class="details-modal" style="display:flex;">
                            <div class="details-modal-close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z"
                                        fill="black" />
                                </svg>
                            </div>
                            <div class="details-modal-title" style="font-family: 'Montserrat', sans-serif;">
                                <img src="static/images/welcome.gif" width="50" height="50">
                                <h1 style="padding-left: 60px;margin-top:-8%;"> Infy <span
                                        style="color:blue;font-size: 20px;"> SOARS<sup
                                            style="color:red;font-size: 10px;">TM</sup></span><span
                                        style="color:crimson;font-size: 15px;"> presents</span></h1>
                            </div>
                            <div class="details-modal-content" style="font-family: 'Montserrat', sans-serif;">
                                <p style="text-align: center;margin-top: -8%;"><img src="static/images/risklogo.png"
                                        width="300" height="300"></p>
                                <h1 style="text-align: center;margin-top: -8%;">Project Covid</h1>
                                <p>

                                </p>
                            </div>
                        </div>
                    </details>
                </div>
            </div>

            <!-- <div class="navbar-menu " id="open-navbar1 ">
                <ul class="navbar-nav ">
                    <li class="active "><a href="/ ">Home</a></li>
                    <li><a href="# ">Stats</a></li>
                    <li><a href="# ">Analysis</a></li>
                    <li><a href="# ">Risk Predictor</a></li>
                    <li><a href="# ">Research</a></li>
                    <li><a href="# ">About</a></li>
                    <li><a href="# ">Contact</a></li>
                    <li><a href="# ">Sign In</a></li>
                </ul>
            </div> -->
            <div class="navbar-menu" id="open-navbar1">
                <ul class="navbar-nav">
                    <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="navbar-dropdown">
                        <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id"><i
                                class="fa fa-bar-chart"></i>
                            Analysis <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" id="my-dropdown-id">
                            <li><a href="#">Something else here</a></li>
                            <li class="separator"></li>
                            <li><a href="#">Seprated link</a></li>
                            <li class="separator"></li>
                            <li><a href="#">One more seprated link.</a></li>
                        </ul>
                    </li>
                    <li class="navbar-dropdown">
                        <a href="#" class="dropdown-toggler" data-dropdown="blog"><i class="fa fa-flask"></i> Predictors
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" id="blog">
                            <li><a href="riskpredictor">Risk Predictor</a></li>
                            <li class="separator"></li>
                            <li><a href="#">Seprated link</a></li>
                            <li class="separator"></li>
                            <li><a href="#">One more seprated link.</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i> Research</a></li>
                    <li><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
                    <li><a href="#"><i style="font-size:13px;" class="material-icons">&#xe163;</i> Contact</a></li>
                    <!-- <li><a href="#" id="myBtn">Sign In / Sign Up</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="riskpredictor" style="color: black;"><i class="fa fa-flask"></i> Predictors <i
                    class="fas fa-long-arrow-alt-right arrow1" aria-hidden="False"></i> &#160&#160&#160Risk
                Predictor</a></li>
    </ul>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <a>
                <button type="button" class="btn-close">
                    <span class="icon-cross"></span>
                    <span class="visually-hidden"></span>
                </button>
            </a>
            <br><br><br><br><br>
            <div class="modal-container" id="modal-container">
                <div id="sign-up" class="form-container sign-up-container">
                    <form action="#" class="sign-form"
                        style="background-image: url('static/images/blueback.jpg');background-size: cover;">
                        <h1>Create Account</h1>
                        <br>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fa fa-facebook social-ico"></i></a>
                            <a href="#" class="social"><i class="fa fa-google social-ico"></i></a>
                            <a href="#" class="social"><i class="fa fa-linkedin social-ico"></i></a>
                        </div>
                        <span>or use your email for registration</span>
                        <br>
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <br>
                        <button class="modal-button">Sign Up</button>
                        <p class="link" onclick="switchForm('login')">already have an account ? sign in here</p>
                    </form>
                </div>
                <div id="sign-in" class="form-container sign-in-container">
                    <form action="#" class="sign-form"
                        style="background-image: url('static/images/blueback.jpg');background-size: cover;">
                        <br>
                        <h1>Sign in</h1>
                        <br>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fa fa-facebook social-ico"></i></a>
                            <a href="#" class="social"><i class="fa fa-google social-ico"></i></a>
                            <a href="#" class="social"><i class="fa fa-linkedin social-ico"></i></a>
                        </div>
                        <span>or use your account</span>
                        <br>
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <a href="#">Forgot your password?</a>
                        <br>
                        <button class="modal-button">Sign In</button>
                        <p class="link" onclick="switchForm('register')">new here ? sign up here</p>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <!-- remove comments and remove style background-image to get original shade back -->
                        <div class="overlay-panel overlay-left"
                            style="background-image: url('static/images/modalback1.jpg');">
                            <!-- <h1><img src="static/images/hello.gif" width="30px " height="30px "> Welcome Back!</h1>
                            <p>To keep connected with us please login with your personal info</p> -->
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <button class="ghost modal-button" id="signIn">Sign In</button>
                        </div>
                        <div class="overlay-panel overlay-right"
                            style="background-image: url('static/images/modalback2.jpg');background-size: auto;">
                            <!-- <h1><img src="static/images/hello.gif" width="30px " height="30px "> Hello, Friend!</h1>
                            <p>Enter your personal details and start journey with us</p> -->
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <button class="ghost modal-button" id="signUp">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-info ">
        <marquee><strong><img src="static/images/hello.gif " width="30px " height="30px "> Team
                Infy SOARS presents Covid-19 Details and Research</strong></marquee>
    </div>
    <div class="menu-container" style="margin-left:100%;">
        <div class="collapse-icon">
            <span class="fa fa-chevron-left"></span>
        </div>
        <div class="menu-item">
            <span class="fa fa-instagram social-ico"></span>
            <div class="menu-item-text">Instagram</div>
        </div>
        <div class="menu-item">
            <span class="fa fa-twitter social-ico"></span>
            <div class="menu-item-text">Twitter</div>
        </div>
        <div class="menu-item">
            <span style="padding:5px;" class="fa fa-facebook social-ico"></span>
            <div class="menu-item-text">Facebook</div>
        </div>
        <div class="menu-item">
            <span class="fa fa-linkedin social-ico"></span>
            <div class="menu-item-text">Linked In</div>
        </div>
    </div>
    <div class="risk-prediction">
        <form>
            <div class="segment">
                <h1 style="color:blue;"> Welcome To Covid-19 Risk Predictor </h1>
            </div>
            <span style="font-size:20px;color: red;">✨ Enter Your Details ✨</span>
            <br><br><br>
            <div class="input-group">
                <label>
                    <span class="input-label">&#160&#160&#160&#160<i class="material-icons">person</i> Enter Full Name
                        <span style="color: red;font-size: 25px;">*</span>&#160&#160</span>
                    <input type="text" placeholder="Full Name" required />
                </label>
            </div>
            <div class="input-group">
                <label>
                    <span class="input-label">&#160&#160&#160&#160&#160&#160<i class="fa fa-envelope"></i> Email Address
                        <span style="color: red;font-size: 25px;">*</span></span>&#160&#160&#160&#160&#160
                    <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email Address"
                        required />
                </label>
            </div>
            <div class="input-group">
                <label>
                    <span class="input-label" style="margin-left: 0%;">&#160&#160&#160&#160&#160&#160<i
                            class="fa fa-globe"></i>
                        Enter Country
                        &#160&#160&#160&#160&#160&#160&#160&#160</span>
                    <input type="text" placeholder="Country" />
                </label>
            </div>
            <br>
            <div class="input-group">
                <span class="input-label" style="margin-left: 0%;">&#160&#160&#160&#160&#160&#160<i
                        class="fas fa-hiking"></i> Age 60 or Above <span style="color: red;font-size: 25px;">*</span>
                    &#160&#160&#160&#160&#160</span>
                <div class="switch-toggle" style="margin-right: auto;margin-left: auto;">
                    <input type="checkbox" id="age">
                    <label for="age"></label>
                </div>
            </div>
            <br><br>
            <div class="input-group">
                <span class="input-label" style="margin-left: 0%;">&#160&#160&#160&#160&#160&#160<i
                        class="fas fa-street-view"></i> Enter
                    Gender <span style="color: red;font-size: 25px;">*</span>
                    &#160&#160&#160&#160&#160&#160&#160&#160</span>
                <div class="switch-toggle1" style="margin-right: auto;margin-left: auto;">
                    <input type="checkbox" id="gender">
                    <label for="gender"></label>
                </div>
            </div>
            <br><br>
            <div class="input-group">
                <span class="input-label" style="margin-left: 0%;">&#160&#160&#160&#160&#160&#160<i
                        class="fa fa-medkit"></i>
                    Enter Symptoms <span style="color: red;font-size: 25px;">*</span></span>
            </div>
            <br>
            <div class="switches">
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa fa-stethoscope"></i><span style="font-size:16px;"> Cough</span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="cough">
                        <label for="cough"></label>
                    </div>
                </div>
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa fa-stethoscope"></i><span style="font-size:16px;"> Fever</span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="fever">
                        <label for="fever"></label>
                    </div>
                </div>
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa fa-stethoscope"></i><span style="font-size:16px;"> Sore Throat</span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="sore-throat">
                        <label for="sore-throat"></label>
                    </div>
                </div>
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa fa-stethoscope"></i><span style="font-size:16px;"> Shortness of Breath</span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="shortness-of-breath">
                        <label for="shortness-of-breath"></label>
                    </div>
                </div>
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa fa-stethoscope"></i><span style="font-size:16px;"> Headache </span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="headache">
                        <label for="headache"></label>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <span class="input-label" style="margin-left: 0%;">&#160&#160&#160&#160&#160&#160<i
                        class="fas fa-hiking"></i> Abroad <span style="color: red;font-size: 25px;">*</span>
                    &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160</span>
                <div class="switch-toggle" style="margin-right: auto;margin-left: auto;">
                    <input type="checkbox" id="abroad">
                    <label for="abroad"></label>
                </div>
            </div>
            <br><br>
            <div class="input-group">
                <span class="input-label" style="margin-left: 0%;">&#160&#160&#160&#160&#160&#160<i
                        class="fas fa-hiking"></i> Contact With Covid-19 Object <span
                        style="color: red;font-size: 25px;">*</span></span>
                <div class="switch-toggle" style="margin-left:10%;">
                    <input type="checkbox" id="contact_obj">
                    <label for="contact_obj"></label>
                </div>
            </div>
            <br><br>
            <div class="input-group">
                <span class="input-label" style="margin-left: 0%;">&#160&#160&#160&#160&#160&#160<i
                        class="fas fa-hiking"></i> Contact With Covid-19 Patient <span
                        style="color: red;font-size: 25px;">*</span>
                </span>
                <div class="switch-toggle" style="margin-left:9%;">
                    <input type="checkbox" id="contact_person">
                    <label for="contact_person"></label>
                </div>
            </div>
            <br>
            <button class="red button-submit" type="submit"><i class="fa fa-check" style="color:lime;"></i> Submit
                Details</button>
        </form>
    </div>
    <footer>
        <div class="footer">
            <h4 style="font-size: 25px;color:white;"><span style="font-size: 25px;color:#66f;">⚡ </span><span
                    style="font-size: 25px;color:grey;">Team</span>
                <bold> Infy<span style="font-size: 25px;color:#66f;"> SOARS ⚡</span></span></bold>
            </h4>
            <!-- <sup
        style="color:crimson;font-size: 10px;"><strong></strong></sup>  -->
            <div class="row">
                <ul>
                    <li><a href="#">Siddharth Kulkarni</a></li>
                    <li><a href="#">Atharv Chaudhari</a></li>
                    <li><a href="#">Omkar Patil</a></li>
                    <li><a href="#">Rutuja Vaidya</a></li>
                    <li><a href="#"><br>Sana Shaikh</a></li>
                </ul>
            </div>
            <div class="sub-footer">
                ✨ Copyright © 2021 - All rights reserved ✨
            </div>
            <p style="color:white;">🧿 Designed By 😎 Team Infy SOARS 🧿</p>
        </div>
    </footer>
    <script type="text/javascript" src="static/js/script.js "></script>
    <script type="text/javascript" src="static/js/sign.js "></script>
</body>

</html>